<html>
    <% include ./shared/head %>
    <body>
        <% include ./shared/topbar %>
        <div class="container-fluid">
            <div class="alert alert-danger">
                <strong>Error!</strong> Failed to login <a href="/auth/twitch">try agin</a>
            </div>
        </div>
        <% include ./shared/footer %>
    </body>
</html>