<html><head><title>Twitch SEV</title></head>
    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed"></div>
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    <script src="application.js"></script>
    <script>
        window.streamer_name = '<%= streamer_name %>';
        loadTwitchEmbed();
    </script>
</html>